.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);


}
.modal_content{
    background: no-repeat center url("1.jpg");
    background-size: cover;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 40px;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}